---
import Base from "layouts/base.astro";
import Router from "./router";
---

<Base>
  <p>Content</p>
  <h1>{Astro.url.pathname}</h1>
  <a class='underline' href='/'>Return home</a>
  <Router client:visible ssrRoute={Astro.url.pathname} />
</Base>
